click==6.6
flask>=0.12.3
itsdangerous==0.24
Jinja2
MarkupSafe==0.23
pyaml
PyYAML
six==1.11.0
slackclient==1.0.2
websocket-client==0.37.0
Werkzeug==0.15.5
pip==9.0.3
zappa==0.45.1
requests>=2.20.0
python-dateutil==2.6.1
pytz==2018.4
blinker==1.4
slackeventsapi==1.1.0
slacker==0.9.65
Flask-Caching==1.4.0
pyboto3
jsonpickle==0.9.6
sqlalchemy
MySQL-python==1.2.5
sqlalchemy-json==0.2.1
requests-toolbelt==0.8.0
